*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TestSystem/DatabaseModul/target/
/TestSystem/TestingModule/target/
/TestSystem/DatabaseModule/target/
/TestSystem/WebModule/target/
/TestSystem/FileSystemModule/target/
/TestSystem/EarModule/target/
/TestSystem/TestingModule/src/main/java/com/netcracker/testingmodule/temp/
/TestSystem/TestingModule/file_system/
/TestSystem/BusinessLogicModule/target
/TestSystem/EarModule/nb-configuration.xml
/TestSystem/BusinessLogicModule/nb-configuration.xml
/TestSystem/WebModule/nb-configuration.xml
