.ui-widget-content{ 
    background: white; 
    border: none; 
} 
.ui-widget{ 
    font-family: initial;

} 
h1{
  font-family: TimesNewRoman, sans-serif, fantasy;  
}
h2{
    font-family: TimesNewRoman, sans-serif, fantasy;
}
element.style{ 
    background: none; 
    border: none; 
} 
.ui-columntoggler{ 
    overflow: visible; 
} 
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ 
    font-weight: lighter; 
} 
.ui-paginator{ 
    text-align: center; 
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-family: initial; 
}
.ui-widget .ui-widget{
    font-size: 1.1em;
}
a:-webkit-any-link{
    color: black;
}