Requirements:

- –егистраци€ новых участников (производима€ самими участниками)
- јвторизаци€ пользователей
- ƒобавление, активаци€/деакциваци€ участников (модератором);
	добавление, активаци€/деакциваци€ модераторов (администратором);
- —бор информации о соревновани€х, задачах, посылках, результатах соревнований (дл€ просмотра);
	отбор информации в зависимости от роли пользовател€ (участник или модератор)
- ¬ыгрузка условий к задачам
- ѕрин€тие посылки в виде файла
-  омпил€ци€ решений, запуск решений на тестах, вынос вердикта по посылке
- ѕринудительный запуск модератором проверки посылки и просмотр результатов
- ѕоддержка различных систем оценивани€ (ICPC, IOI)
- ѕроведение полного системного тестировани€ по окончании соревновани€
- ѕрин€тие за€вки на участие (в открытых и модерируемых соревновани€х)
- ƒобавление и редактирование задач в глобальном архиве (тип задачи (coding, test), загрузка тестов, чекеров и т. д.)
- ƒобавление и редактирование соревнований (список задач, тип оценивани€, тип регистрации и т. д.)
- –егистраци€ участников на соревнование (в модерируемых и закрытых соревновани€х), совместно с редактированием
	персональных данных участников